body{
    background: linear-gradient(135deg, #1a1c2c, #4a1942);
    color: azure;
}
#grid {
    width: 800px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}
h3{
    text-align: left;

}
#main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}